sketches/TimerPage/SilverlightPrototype1/SilverlightPrototype1Screens/SampleData/ResultList/ResultList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ResultList" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ResultList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResultList" type="tns:ResultList" />
  <xs:complexType name="ResultList">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="2" name="StartNumber" type="xs:double" />
    <xs:attribute blend:Format="Time" name="Timestamps" type="xs:string" />
  </xs:complexType>
</xs:schema>